/* Базовые стили для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Стили для заголовка */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

main {
    padding: 20px;
}

main section {
    margin-bottom: 20px;
}

main h2 {
    color: #333;
}

/* Стили для нижнего колонтитула */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/* Стили для кнопок */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
#securityTip {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 10px;
}
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    main {
        padding: 10px;
    }

    .button {
        padding: 8px 16px;
        font-size: 1rem;
    }
}
